body {
	background: url(../img/bg-lg.jpg) center 0 transparent;
	background-size: auto 100%;
	min-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}

.titulo {
	color: #FFFFFF;
	font-size: 45px;
	text-align: center;
	text-shadow: 0px -1px 3px rgba(43, 65, 123, 0.74);

	img {
		position: relative;
		top: 4px;
	}
}
.tiempo {
	width: 750px;
	margin: 0px auto;
	text-align: center;
	text-transform: uppercase;

	ul {
		display: flex;
		justify-content: space-around;
		margin: 25px 0 0;
		padding: 0;

		li {
			background: none;
			border-radius: 5px;
			border: none;
			color: #FFFFFF;
			display: block;
			list-style: none;
			padding: 10px;
			text-align: center;
			width: 250px;

			.dia {
				display: block;
				font-size: 24px;
				text-shadow: 0px -1px 3px rgba(43, 65, 123, 0.74);
			}
			.icono-tiempo {
				color: #FFFFFF;
				font: 180px/155px weather;
				text-shadow: 0px -1px 3px rgba(43, 65, 123, 0.74);
			}
			.temperatura {
				font-size: 24px;
				text-shadow: 0px -1px 3px rgba(43, 65, 123, 0.74);
			}
		}
	}

	.currently {
		margin: 0 20px;
	}
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }