// Bootstrap
@import "_bootstrap.scss";

// Gral.
@import "_variables";

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

//
// Media Queries
//

// -- Dispositivos extra pequeños - smartphones - menores a 768px.
// -- * Bootstrap utiliza Mobile First por lo que esta medida no usa MediaQuerie.
@import "layouts/_start-320-xs";

// -- Dispositivos pequeños - tablets - 768px para arriba.
@media (min-width: $screen-sm-min) {
	@import "layouts/_768-sm";
}

// -- Dispositivos intermedios - desktops - 992px para arriba.
@media (min-width: $screen-md-min) {
	@import "layouts/_992-md";
}

// -- Dispositivos grandes - desktops widescreens - 1200px para arriba.
@media (min-width: $screen-lg-min) {
	@import "layouts/_1200-lg";
}